ul {
    list-style: none;
    padding-left: 0;
    display: flex;
}

li {
    margin: 10px;
}

.product-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px 150px;
}

.product-container {
    border: 2px solid black;
    padding: 20px 40px;
    margin: 20px;
}

.cart-container {
    border: 2px solid black;
    padding: 20px 40px;
    margin: 20px;
}

.quantity {
    display: flex;
    align-items: center;
}