<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Poké Mart - Cart Page</title>
    <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>
    <nav>
        <ul>
            <li><a th:href="@{/products}">Products</a></li>
            <li><a th:href="@{/carts}">Carts</a></li>
            <li><a th:href="@{/logout}">Logout</a></li>
        </ul>
    </nav>
    <h1 th:text="${user.username}"></h1>
    <div class="cart-list">
        <div class="cart-container" th:each="cart: ${carts}">
            <p th:text="'Cart ID: ' + ${cart.id}"></p>
            <table>
                <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="cartItem : ${cart.cartItems}">
                    <td><img th:src="${cartItem.product.imageUrl}" height="30" width="30"></td>
                    <td th:text="${cartItem.product.name}"></td>
                    <td th:text="'P' + ${cartItem.product.price}"></td>
                    <td>
                        <div class="quantity">
                            <button th:hidden="${cart.checkedOut == true}" th:onclick="|window.location.href='carts/subtract/${cartItem.id}'|">-</button>
                            <p th:text="${cartItem.quantity}"></p>
                            <button th:hidden="${cart.checkedOut == true}" th:onclick="|window.location.href='carts/add/${cartItem.id}'|">+</button>
                        </div>
                    </td>
                    <td th:text="'P' + ${cartItem.totalPrice}"></td>
                </tr>
                <tr>
                    <td colspan="5">Total Amount: </td>
                    <td th:text="'P' + ${cart.totalCartPrice}"></td>
                </tr>
                </tbody>
            </table>
            <button th:disabled="${cart.totalQuantity == 0}" th:hidden="${cart.checkedOut == true}" th:onclick="|window.location.href='carts/checkOut/${cart.id}'|">Check Out</button>
        </div>
    </div>
</body>
</html>