<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mart - Products</title>
    <link th:href="@{/style.css}" rel="stylesheet" />
</head>

<body>
<header>
    <div class="header-left">
        <a th:href="@{/products}">
            <input type="image" th:src="@{/pokemart-logo.png}" width="290" height="106">
        </a>
    </div>
    <div class="header-right">
        <p class="loggedin-user">Hi, <span th:text="${user.username}"></span>!</p>
        <a th:href="@{/carts/purchase}">Purchases</a>
        <div class="shopping-cart-icon-container">
            <a th:href="@{/carts}"><input type="image" th:src="@{/shopping-cart-icon.png}"></a>
            <div class="shopping-cart-badge" th:text="${cart.totalQuantity}"></div>
        </div>
        <a th:href="@{/logout}">Logout</a>
    </div>
</header>
<main>
    <div class="container">
        <h2 class="container-title">Featured Items</h2>
        <div class="product-items">
            <div class="product-item-card" th:each="product: ${products}">
                <img class="product-icon"
                     th:src="${product.imageUrl}" height="63"
                     width="63">
                <p class="product-name" th:text="${product.name}"></p>
                <p class="product-price" th:text="'₽' + ${product.price}"></p>
                <button class="submit-btn" th:onclick="|window.location.href='products/addToCart/${product.id}'|">ADD TO CART</button>
            </div>
        </div>
    </div>
</main>
<footer>
    <p>© Copyright 2023. All rights are reserved.</p>
</footer>
</body>
</html>