<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mart - Purchase</title>
    <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>
<header>
    <div class="header-left">
        <a th:href="@{/products}">
            <input type="image" th:src="@{/pokemart-logo.png}" width="290" height="106">
        </a>
    </div>
    <div class="header-right">
        <p class="loggedin-user">Hi, <span th:text="${user.username}"></span>!</p>
        <a th:href="@{/carts/purchase}">Purchases</a>
        <div class="shopping-cart-icon-container">
            <a th:href="@{/carts}"><input type="image" th:src="@{/shopping-cart-icon.png}"></a>
            <div class="shopping-cart-badge" th:text="${activeCart.totalQuantity}"></div>
        </div>
        <a th:href="@{/logout}">Logout</a>
    </div>
</header>

<main>
    <div class="container">
        <h2 class="container-title">Previous Purchases</h2>
        <div class="co-cart-list">
            <div class="co-cart-container" th:each="cart : ${carts}">
                <div class="co-cart-item" th:each="cartItem : ${cart.cartItems}">
                    <div class="co-cart-item-product">
                        <img th:src="${cartItem.product.imageUrl}"
                             height="30" width="30">
                        <p th:text="${cartItem.product.name}"></p>
                    </div>
                    <p th:text="'x ' + ${cartItem.quantity}"></p>
                    <p th:text="'₽' + ${cartItem.totalPrice}"></p>
                </div>
                <p class="co-cart-total" th:text="'Order Total: ₽' + ${cart.totalCartPrice}"></p>
            </div>
        </div>
    </div>
</main>

<footer>
    <p>© Copyright 2023. All rights are reserved.</p>
</footer>
</body>
</html>